<html>
	<head>
		<title>{{t}}</title>
		<!-- href="/static/assets/style.css"-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
<body>
	<div class="container">
		<h3>{{ h }}</h3>
		<hr>
		{% if videos[0] %}
		<a class="btn btn-info" href='./list_themes'>List Themes</a>
		<hr>
		<h3>Videos List</h3>
		<hr>
		<div class="row">
			<div class="col-lg-3">
				<h5><b>Name</b></h5>
			</div>
			<div class="col-lg-3">
				<h5><b>Theme</b></h5>
			</div>
			<div class="col-lg-1">
				<h5><b>Likes</b></h5>
			</div>
			<div class="col-lg-1">
				<h5><b>Unlikes</b></h5>
			</div>
			<div class="col-lg-2">
				<h5><b>Add Like</b></h5>
			</div>
			<div class="col-lg-2">
				<h5><b>Add Unlike</b></h5>
			</div>
		</div>
		{% for video in videos %}
		<hr>
		<div class="row">
			<div class="col-lg-3">{{ video["name"] }}</div>
			<div class="col-lg-3">{{ video["theme"] }}</div>
			<div class="col-lg-1">{{ video["likes"] }}</div>
			<div class="col-lg-1">{{ video["unlikes"] }}</div>
			<div class="col-lg-2"><a href="./add_like?_id={{ video['_id'] }}" class="btn btn-info"><i class="fa fa-thumbs-up"></i></a></div>
			<div class="col-lg-2"><a href="./add_unlike?_id={{ video['_id'] }}" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></a></div>
		</div>
		{% endfor %}
		{% else %}
			<h4>No videos add</h4>
		{% endif %}
		<hr/>
		<h5>
			<td>Add a video</td>
		</h5>
		<form action="/action" method="POST">
			<div class="row">
				<div class='col-lg-4'>
					<label>Name</label>
					<input class='form-control' type="text" name="name" placeholder="Name" />
				</div>
				<div class='col-lg-4'>
					<label>Theme</label>
					<input class='form-control' type="text" name="theme" placeholder="Theme" />
				</div>
				<div class='col-lg-2'>
					<label>Submit</label><br>
					<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Create</button>
				</div>
			</div>
		</form>
	</div>
	<script src="https://use.fontawesome.com/2ff92ef24e.js"></script>
</body>
</html>
